/.env
/.git*
/.venv
/docs/
/tests/
/Makefile
/poetry.lock
/*/node_modules/*
/*/__pycache__/*
/*/*.pyc
/*.pyc
/node_modules/
/frontend/

.env
.git*
.venv
docs/
tests/
Makefile
poetry.lock
*/node_modules/*
*/__pycache__/*
*/*.pyc
*.pyc
node_modules/
frontend/